<%= form_with model:  @document, class: "ui small form", local: true do |form| %>

  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@document.errors.count, "error") %> prohibited
        this note doc from being saved:
      </h2>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="ui label">
      <%= form.label :title %><br>
    </div>
    <div class="ui input">
      <%= form.text_field :title %>
    </div>
  </div>
  <div class="field">
    <div class="ui label">
      <%= form.label :body %><br>
    </div>
    <div class="ui input">
      <%= form.text_area :body, cols: 30, rows: 30 %>
    </div>
  </div>
  <div class="field">
    <div class="ui label">
      <%= form.label :tags %>
    </div>
    <div class="ui input">
      <%= form.text_field :tag_names %>
    </div>
  </div>
  <div class="inline fields">
    <div class="field">
      <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name, :item_wrapper_class => '' do |cb| %>
        <%# cb.label(class: "field") {cb.check_box(class: "ui radio checkbox") + cb.text } %>
      <%# end %>
    </div>
  </div>


  <%= form.button class:"ui submit left floated button".html_safe %>

<% end %>
