<div class="ui fluid card">
  <div class="content">
    <div class="header">
    	<%= @document.title %>
    </div>
    <small><%= time_ago_in_words(@document.created_at) %> ago</small>
    <div class="description">
      <%= @document.body %>
    </div>
  </div>
  <div class="extra content">
    <% if @tags.any? %>
      <p>Tags:<% @tags.each do |tag| %>
         <%= link_to tag.name, tag_path(tag) %>
      <% end %>
      </p>
    <% end %>
  </div>
</div>


  <%= link_to 'Edit', edit_document_path(@document), class: "ui button" %>

	<%= link_to 'Back', documents_path, class: "ui button" %>


