<%= form_with model: @tag, class: "ui small form", local: true do |form| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tag.errors.count, "error") %> prohibited
        this note doc from being saved:
      </h2>
      <ul>
        <% @tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="ui label">
      <%= form.label :name %><br>
    </div>
    <div class="ui input">
      <%= form.text_field :name %>
    </div>
  </div>
  <%= form.button class:"ui submit left floated button".html_safe %>
<% end %>
