<!DOCTYPE html>
<html>
  <head>
    <title>SperDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
          <% if current_user %>
            <div class="ui container">
              <%= render 'layouts/navbar' %>
            </div>
            <div class="ui container">
              <%= render 'layouts/messages' %>
              <%= yield %>
              <%# link_to "Logout", destroy_user_session_path, method: :delete %>
            </div>
          <% else %>
            <%= render 'layouts/messages' %>
            <%= yield %>
            <%# link_to "Register", new_user_registration_path %>
            <%#link_to "Login", new_user_session_path %>
          <% end %>
    </div>
  </body>
</html>
